.app-footer {
  background: var(--color-bg-head-nav);
  color: var(--color-white);
  grid-column: 1 / -1;
}

.app-footer__nav {
  display: flex;
  justify-content: center;
}

.app-footer__svg {
  height: 50px;
  padding-top: 5px;
  width: 50px;
  margin: 5px 15px;
}

.app-footer__icon-color {
  fill: var(--color-bg-icons);
  stroke: #1d1d1b;
  stroke-miterlimit: 10;
}

.app-footer__svg--active {
  fill: var(--color-icon-active);
}
