.app-footer {
  background: var(--color-primary);
  color: var(--color-white);
  grid-column: 1 / -1;
}

.app-footer__nav {
  display: flex;
  justify-content: space-evenly;
}

.app-footer__svg {
  height: 50px;
  padding-top: 5px;
  width: 50px;
}

.app-footer__icon-color {
  /* SVG icon colores */
  fill: #fff;
  stroke: #1d1d1b;
  stroke-miterlimit: 10;
}

.app-footer__svg--active {
  fill: rgb(212, 69, 69);
  stroke: #1d1d1b;
  stroke-miterlimit: 10;
}
